<div class="container">
  <div class="breadcrumb">
    <a class="item completed">
      <span class="arrow"></span>
      <span class="hide-mobile">Giỏ hàng</span>
      <span class="show-mobile">Giỏ hàng</span>
    </a>
    <a class="item active">
      <span class="arrow"></span>
      <span class="hide-mobile">Chọn địa điểm nhận hàng</span>
      <span class="show-mobile">Details</span>
    </a>
    <a class="item">
      <span class="arrow"></span>
      <span class="hide-mobile">Đặt hàng</span>
      <span class="show-mobile">Preview</span>
    </a>
  </div>
</div>

<div class="container btn-info-cart">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
      <span>Chọn làm tất cả</span> <span>|</span><span>Làm mới</span>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9 info-cart" >
      <span>Tổng số shop: </span> <span>2</span>
      <span class="content-info-cart">Tổng số link: </span> <span>2</span>
      <span class="content-info-cart">Tổng số sản phẩm: </span>
      <span>10</span> <span class="content-info-cart">Tổng tiền: </span>
      <span>1.111.1111 đ</span>
      <span class="content-info-cart-btn">Đặt hàng tất cả</span>
    </div>
  </div>
</div>

<div class="row content-cart-pharse1">
  <div class="col-12">
    <div class="header">
      fdsfdfd
    </div>
  </div>

  <!-- left data -->
  <div class="col-8">
    <div fxLayout="row wrap">
      <div class="column data-right" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33" style="padding: 0px !important;">
        <mat-card class="example-card">
          <mat-card-content class="message-box">
            <mat-grid-list rowHeight="100px" cols="12">
              <mat-grid-tile [colspan]="12" class="grid-first">
                <div class="col-5 both-title" >Sản Phẩm</div>
                <div class="col-1 both-title text-center">Số Lượng</div>
                <div class="col-2 both-title text-center">Đơn giá</div>
                <div class="col-2 both-title text-center">Tiền Hàng</div>
                <div class="col-2 both-title text-center">Thao Tác</div>
              </mat-grid-tile>
              <div class="box-item">
                <mat-grid-tile [colspan]="5">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col-3" style="min-width:50px; border-bottom: none !important">
                          <!-- <img class="img" src="{{data.itemImage}}" /> -->
                        </th>
                        <th scope="col-9" style="vertical-align: middle !important; border-bottom: none !important">
                          <div>
                            <span>dsfadsfds</span><br>
                            <span>fsdfdfdsfd</span><br>
                            <span>dsfdsgdfsd</span><br>
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1">
                  <input class="w3-input" type="text" style="width: 100% !important; text-align: center;">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2"> dsfdafdsafsdad </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                  <div><span>345432543đ</span> <br><span>¥345342543</span> </div>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                  <button class="button-orange" mat-raised-button> 
                    <i class="fa fa-trash" style="margin-right: 5px;" ></i>
                    <span>Xóa</span>
                  </button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="12">
                  <mat-form-field style="width: 95%;" class="example-full-width">
                    <textarea matInput  placeholder="Ghi chú cho sản phẩm"></textarea>
                  </mat-form-field>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
            <div class="all-items">
              <span>2/2 link</span> <span>  |  </span><i class="fa fa-trash remove-shop" style="margin-right: 5px;" ></i> <span>Xóa Shop</span>
            </div>
          </mat-card-content>
        </mat-card>
     </div>
    </div>
  </div>

  <!-- right data -->
  <div class="col-4">
    <div fxLayout="row wrap" class="post-module">
      <div class="header-title-account" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" >
        <span>
          Thông tin tài khoản
        </span>
      </div>

      <!-- services -->
      <mat-grid-list cols="2" rowHeight="3:1" class="info">
        <!-- 1 -->
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="img">
            Kiểm đếm
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="title id">
            Bảo hiểm
          </div>
        </mat-grid-tile>
        <!-- 2 -->
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="title id">
            Đóng gỗ
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <div class="title id">
            Chống sóc
          </div>
        </mat-grid-tile>
      </mat-grid-list>

      <div>
        
      </div>
    </div>
  </div>
</div>
