<div autoscroll="true" class="ng-scope" >

  <!-- Main content -->
  <!-- <section class="content"> -->
      <div class="box box-chipo clearfix">
          <div class="checkout-step">
              <div class="cs-step deactive">
                  <span class="cs-number"><i class="fa fa-check"></i></span>
                  <span class="cs-name">Giỏ hàng</span>
              </div>
              <div class="cs-step deactive">
                  <span class="cs-number"><i class="fa fa-check"></i></span>
                  <span class="cs-name">Chọn Địa Chỉ Nhận Hàng</span>
              </div>
              <div class="cs-step active">
                  <span class="cs-number"><i class="fa fa-check"></i></span>
                  <span class="cs-name">Đặt Cọc &amp; Kết Đơn</span>
              </div>
          </div>
      </div>

      <div class="box box-order-success">
          <div class="box-header with-border box-ls text-green">
              <i class="fa fa-info-circle"></i>
              <span class="box-title">Đặt cọc đơn hàng thành công</span>
          </div>
          <div class="box-body pd15">
              <p class="form-group ng-binding">
                Naipot sẽ tiến hành liên hệ người bán và mua hàng cho Quý khách.
                <br>Quý khách có thể quản lý các đơn hàng của mình tại 
                <a href="https://naipot.com/backend/#/danh-sach-don-hang">Danh sách đơn hàng</a>.
                <br>  Mọi thông tin trong quá trình làm việc với người bán Naipot sẽ được trao đổi trực tiếp trên đơn hàng.</p>
              <div class="box-list-success clearfix">
                  <ul class="list-inline">
                      <li class="ng-scope">
                          <div class="info-box-list clearfix1">
                              <div class="thumb-ls">
                                  <div class="second-thumb">
                                      <img width="60" height="60" src="./gio hang 3_files/O1CN016Xwntx1LdWBQNDV0G_!!0-item_pic.jpg_100x100q90.jpg">
                                  </div>
                              </div>
                              <div class="text-thumbs-list">
                                  <a class="ng-binding" href="https://naipot.com/backend/#/chi-tiet-don-hang/70621919">
                                    NP70621919 
                                    <i class="fa fa-check text-green fa-2x"></i></a> 
                                  <p class="success">Đã đặt cọc</p>
                              </div>
                          </div>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
</div>