<div fxLayout="row wrap" class="post-module">
    <div class="header-title-account" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
        <span>
           Thông tin tài khoản
        </span>
     </div>
     <!-- <div> Thông tin tài khoản</div> -->
 
    <div class="content-info" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
       <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="20" fxFlex.xl="20">
          <div class="client-name">Thu huyền 11218</div>
          <div class="client-id">Mã khách hàng <span class="id">328855</span></div>
       </div>
    
       <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="53.33" fxFlex.xl="53.33">
          <div class="post-meta">
             <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
          </div>
          <div class="post-meta">
             <span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span>
          </div>
          <div class="post-meta bottom-meta">
             <span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span>
          </div>
       </div>
    
       <div class="column" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33.33" fxFlex.xl="33.33">
          <div >
             <span class="timestamp"><i class="fa fa-clock-o note"></i>Ghi chú</span>
             <div>các thông báo</div>
          </div>
       </div>
    </div >
 
 </div>
 
 

<div>
    lịch sử ví giao dịch
</div>